* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*HEADER*/
.c-navbar {
    background-color: #161642;
}

.c-navbar__menu {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 115px;
}

.c-navbar__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.c-navbar__links li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: #DDD627;
}

.c-navbar__links li a:hover {
    color: #4949DB;
}

/*SECTION DESTAQUE*/

/* Contêiner principal do carousel */
.my-slider {
    position: relative;
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
}

/* Estilo da imagem do carousel */
.img {
    position: relative;
}

.img img {
    display: block;
    width: 100%;
    height: auto;
}

/* Centralizando o conteúdo sobre a imagem */
.c-destaque__content {
    position: absolute;
    top: 50%;
    left: 0; /* Alinha à esquerda */
    transform: translateY(-50%);
    text-align: left; /* Alinha o texto à esquerda */
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Estilo do título */
.c-destaque__titulo h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    width: 1030px;
}

/* Estilo do botão "Veja mais" */
.c-destaque__btn button {
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #DDD627;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 36px;
}

/* Contêiner dos dots (botões de navegação) */
.c-destaque__dots {
    position: absolute;
    top: 50%;
    right: 20px; /* Ajuste a distância da borda direita */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column; /* Organiza os dots em coluna */
    gap: 15px;
    z-index: 3; /* Garante que os dots fiquem acima da imagem */
}

/* Estilo dos dots */
.c-destaque__dots button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #DDD627;
    color: #DDD627;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito ao passar o mouse e ao ativar os dots */
.c-destaque__dots button.active,
.c-destaque__dots button:hover {
    background-color: #DDD627;
    color: white;
}

/* Estilo para a imagem de degradê */
.my-slider .degrade-img {
    position: absolute;
    bottom: 0; /* Coloca a imagem na parte inferior da imagem do carousel */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Garante que a imagem de degradê fique abaixo do conteúdo */
}


/*SECTION CAVALEIROS DE ATENA*/

.c-atena {
    background-color: black;
}

.c-atena__content {
    height: 868px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.c-atena__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #DDD627;
}

.c-atena__texto p {
    width: 820px;
    height: 640px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

/*Accordion*/
.c-section-accordion {
    background-color: black;
}


.w__820 {
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 12px;
}

.c-section-accordion__titulo {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #DDD627;
}

.accordion_area {
    width: 820px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion_box {
    background-color: #161642;
    border-radius: 10px;
}

.accordion_box h3 {
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    color: #DDD627;

}

.acc_trigger {
    padding: 24px;
    margin: 0;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.acc_trigger button {
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.acc_trigger img {
    transition: transform 0.3s ease;
}

.acc_trigger img.rotated {
    transform: rotate(180deg);
}


.acc_container {
    display: none;
    padding: 24px;
    background-color: #272775;
    height: 200px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.acc_container p {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

/*CAROUSEL*/

.c-carousel {
    background-color: black;
}

.c-carousel__box {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.c-carousel__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #DDD627;
}

.c-carousel__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.owl-carousel {
    flex: 1;
    /* Faz o carrossel ocupar o espaço restante */
    overflow: hidden;
}

.owl-carousel .item {
    position: relative;
    text-align: center;
}

.c-carousel__img {
    width: 100%;
    height: auto;
    display: block;
}

.c-carousel__overlay {
    position: absolute;
    bottom: 0;
    /* Coloca no fundo da imagem */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.c-carousel__degrade {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* Fica abaixo do texto */
}

.c-carousel__nome {
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 2;
    /* Fica acima do degradê */
    padding: 8px 0;
    /* Adiciona um espaçamento entre o texto e as bordas */
}

.c-carousel__degrade-lateral {
    position: absolute;
    right: 0;
    /* Alinha ao lado direito */
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 3;
    /* Certifique-se de que o degradê fique sobre o carrossel */
    pointer-events: none;
    /* Impede que o degradê interfira na interação com o carrossel */
}


/*FANCYBOX*/

.c-fancybox {
    background-color: black;
    height: 650px;
}

.c-fancybox__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    color: #DDD627;
    font-weight: 700;
}

.carousel-item img {
    max-width: 840px;
    height: 460px;
    object-fit: cover;
    /* Garante que a imagem se ajuste bem */
    margin: 0 auto;
}

.highlight {
    color: yellow;
    /* Substitua pela cor desejada */
    font-weight: bold;
}


.carousel-img {
    width: 820px;
    height: 460px;
    object-fit: cover;
    margin: 0 auto;
}

/* Centraliza o texto da legenda */
.carousel p {
    max-width: 820px;
    text-align: left;
    margin: 0 auto;
    color: #fff;
    word-wrap: break-word;
    /* Quebra de palavras longas */
}

.carousel {
    position: relative;
}

/* Customização para os botões */
.custom-carousel-control-prev,
.custom-carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white !important;
    border: none !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    width: 30px;
    height: 30px;
}

/* Botão anterior - à esquerda */
.custom-carousel-control-prev {
    left: 250px;
}

/* Botão próximo - à direita */
.custom-carousel-control-next {
    right: 250px;
}

.custom-carousel-control-prev img,
.custom-carousel-control-next img {
    width: 10px !important;
    height: 16px !important;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: invert(1) brightness(0);
    object-fit: contain;
}

/* Direção das setas */
.custom-carousel-control-prev img {
    transform: rotate(90deg);

}

.custom-carousel-control-next img {
    transform: rotate(-90deg);

}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dots .active {
    background-color: #f7b500;
    /* Cor amarela para o dot ativo */
}

/*FORMULARIO*/

.c-formulario {
    background-color: black;
}

.c-formulario__content {
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.c-formulario__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    color: #DDD627;
    font-weight: 700;
}

.c-formulario__form {
    width: 820px;
}

.c-formulario__form label {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #fff;
}

.c-formulario__form input {
    background-color: #161642;
    border: none;
}

.c-formulario__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-formulario__btn button {
    border: 1px solid #333;
    border-radius: 36px;
    width: 129px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    background-color: #DDD627;
}

.c-formulario__btn button:hover {
    background-color: #f7b500;
}

/*FOOTER*/

.c-footer {
    background-color: #161642;
}

.c-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 283px;
}

.c-footer__list ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}


.c-footer__list a {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: #DDD627;
    text-decoration: none;
}