* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*HEADER*/
.c-navbar {
    background-color: #161642;
}

.c-navbar__menu {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-navbar__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.c-navbar__links li a {
    text-decoration: none;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: #DDD627;
}

.c-navbar__links li a:hover {
    color: #4949DB;
}

.c-navbar__mobile {
    display: none;
    cursor: pointer;
}

/* Estilo do Off-Canvas */
.c-navbar__offcanvas {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 290px;
    height: 343px;
    background-color: #161642;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 0px 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 16px;
}

.c-navbar__offcanvas.active {
    right: 0;
}

.c-navbar__offcanvas-header {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #ddd627;
    cursor: pointer;
}

.c-navbar__offcanvas .c-navbar__links {
    list-style: none;
    padding: 0;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.c-navbar__offcanvas .c-navbar__links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #ddd627;
    transition: color 0.3s ease;
}

.c-navbar__offcanvas .c-navbar__links li a:hover {
    color: #4949db;
}


/*SECTION DESTAQUE*/
.c-destaque__item {
    height: 980px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* Necessário para posicionar o degradê e conteúdo */
}

/* Degradê */
.c-destaque__degrade {
    position: absolute;
    bottom: 0;
    /* Posiciona o degradê no bottom da imagem */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Coloca o degradê abaixo do conteúdo */
}

.c-destaque__degrade img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta a imagem do degradê */
}

/* Conteúdo alinhado com container-xxl */
.c-destaque__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    height: 980px;
    position: relative;
    /* Garante que o conteúdo fique acima do degradê */
    z-index: 2;
    /* Coloca o conteúdo acima do degradê */
}

.c-destaque__titulo h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin: 0;
}

/* Seta do destaque */
.c-destaque__seta {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.c-destaque__seta img {
    width: 40px;
    /* Ajuste o tamanho da seta */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.c-destaque__seta img:hover {
    transform: translateY(-5px);
    /* Efeito de hover para a seta */
}

.c-destaque__btn button {
    width: 115px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #DDD627;
    color: black;
    border: none;
    border-radius: 36px;
}

/* Dots */
.c-destaque__dots {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 43%;
    gap: 30px;
    z-index: 3;
}

.c-destaque__dots button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #DDD627;
    background-color: transparent;
    color: #DDD627;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.c-destaque__dots button.active,
.c-destaque__dots button:hover {
    background-color: #DDD627;
    color: black;
}

/*SECTION CAVALEIROS DE ATENA*/

.c-atena {
    background-color: black;
}

.c-atena__content {
    height: 868px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.c-atena__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #DDD627;
}

.c-atena__texto p {
    width: 820px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

/*Accordion*/
.c-section-accordion {
    background-color: black;
}


.w__820 {
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 12px;
}

.c-section-accordion__titulo {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #DDD627;
}

.accordion_area {
    width: 820px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion_box {
    background-color: #161642;
    border-radius: 10px;
}

.accordion_box h3 {
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    color: #DDD627;
}

.acc_trigger {
    padding: 24px;
    margin: 0;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.acc_trigger button {
    border: none;
    background-color: transparent;
    margin-left: auto;
}

.acc_trigger img {
    transition: transform 0.3s ease;
}

.acc_trigger img.rotated {
    transform: rotate(180deg);
}


.acc_container {
    display: none;
    padding: 24px;
    background-color: #272775;
    height: 200px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.acc_container p {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

/*CAROUSEL*/

.c-carousel {
    background-color: black;
}

.c-carousel__box {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.c-carousel__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #DDD627;
}

.c-carousel__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.c-carousel__img {
    width: 100%;
    height: auto;
    display: block;
}

.c-carousel__overlay {
    position: absolute;
    bottom: 0;
    /* Coloca no fundo da imagem */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.c-carousel__degrade {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* Fica abaixo do texto */
}

.c-carousel__nome {
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    position: relative;
    z-index: 2;
    /* Fica acima do degradê */
    padding: 8px 0;
    /* Adiciona um espaçamento entre o texto e as bordas */
}

.c-carousel__degrade-lateral {
    position: absolute;
    right: 0;
    /* Alinha ao lado direito */
    top: 0;
    height: 100%;
    width: 300px;
    z-index: 3;
    /* Certifique-se de que o degradê fique sobre o carrossel */
    pointer-events: none;
    /* Impede que o degradê interfira na interação com o carrossel */
}


/*FANCYBOX*/

.c-fancybox {
    background-color: black;
    height: 700px;
}

.c-fancybox__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    color: #DDD627;
    font-weight: 700;
}

.carousel-item img {
    max-width: 840px;
    height: 460px;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.highlight {
    color: yellow;
    font-weight: bold;
}


.carousel-img {
    width: 820px;
    height: 460px;
    object-fit: cover;
    margin: 0 auto;
}

/* Centraliza o texto da legenda */
.carousel p {
    width: 820px;
    text-align: left;
    margin: 0 auto;
    color: #fff;
    word-wrap: break-word;
    /* Quebra de palavras longas */
}

.carousel {
    position: relative;
}

/* Customização para os botões */
.custom-carousel-control-prev,
.custom-carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white !important;
    border: none !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    width: 30px;
    height: 30px;
}

/* Botão anterior - à esquerda */
.custom-carousel-control-prev {
    left: 250px;
}

/* Botão próximo - à direita */
.custom-carousel-control-next {
    right: 250px;
}

.custom-carousel-control-prev img,
.custom-carousel-control-next img {
    width: 10px !important;
    height: 16px !important;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: invert(1) brightness(0);
    object-fit: contain;
}

/* Direção das setas */
.custom-carousel-control-prev img {
    transform: rotate(90deg);

}

.custom-carousel-control-next img {
    transform: rotate(-90deg);

}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-dots button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-dots .active {
    background-color: #f7b500;
    /* Cor amarela para o dot ativo */
}

/*FORMULARIO*/

.c-formulario {
    background-color: black;
}

.c-formulario__content {
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.c-formulario__titulo h1 {
    font-size: 36px;
    line-height: 44px;
    color: #DDD627;
    font-weight: 700;
}

.c-formulario__form {
    width: 820px;
    display: flex;
}

.c-formulario__form label {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #fff;
}

.c-formulario__form input {
    background-color: #161642;
    border: none;
}

.c-formulario__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-formulario__btn button {
    border: 1px solid #333;
    border-radius: 36px;
    width: 129px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    background-color: #DDD627;
}

.c-formulario__btn button:hover {
    background-color: #f7b500;
}

/*FOOTER*/

.c-footer {
    background-color: #161642;
}

.c-footer__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 283px;
}

.c-footer__list {
    display: flex;
    gap: 202px;
}

.c-footer__list ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}


.c-footer__list a {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    color: #DDD627;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .c-navbar__list {
        display: none;
    }

    .c-navbar__mobile {
        display: block;
        /* Exibe o ícone hambúrguer */
    }

    .c-navbar__mobile i {
        font-size: 30px;
        color: #DDD627;
    }

    .c-navbar__offcanvas {
        display: block;
        /* Ativa o off-canvas em telas menores */
    }

    .c-destaque__dots {
        top: 55%;
        right: 50px;
    }

    /* Botão anterior - à esquerda */
    .custom-carousel-control-prev {
        left: 200px;
    }

    /* Botão próximo - à direita */
    .custom-carousel-control-next {
        right: 200px;
    }
}

@media (max-width: 1024px) {


    /* Botão anterior - à esquerda */
    .custom-carousel-control-prev {
        left: 100px;
    }

    /* Botão próximo - à direita */
    .custom-carousel-control-next {
        right: 100px;
    }


}

@media (max-width: 826px) {

    .c-atena__texto p {
        width: 704px;
    }

    .accordion_area {
        width: 704px;
    }

    .c-fancybox {
        height: 622px;
    }


    /* Botão anterior - à esquerda */
    .custom-carousel-control-prev {
        left: 50px;
    }

    /* Botão próximo - à direita */
    .custom-carousel-control-next {
        right: 50px;
    }

    .c-formulario__form {
        width: 704px;
    }

    .c-formulario label {
        font-size: 14px;
        line-height: 17px;
    }

    .c-footer__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


}

@media (max-width: 768px) {

    .c-navbar__menu {
        height: 80px;
    }

    .c-navbar__links {
        display: none;
        /* Esconde o menu padrão em telas pequenas */
    }


    .c-destaque__seta {
        top: 60rem;
    }

    /* Imagem do carousel */
    .img {
        position: relative;
    }

    .img img {
        display: block;
        width: 100%;
        /* Imagem ocupa toda a largura */
        height: 1053px;
    }

    /* Degradê */
    .degrade-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
    }

    .c-destaque__dots {
        display: flex;
        flex-direction: row;
        top: 30%;
        left: 12px;
    }

    .carousel-item img {
        max-width: 704px;
        height: 395px;
    }

    .carousel p {
        width: 704px;
    }

    .custom-carousel-control-prev,
    .custom-carousel-control-next {
        top: 45%;
        transform: translateY(-50%);
    }

    .custom-carousel-control-prev {
        left: 40px;
    }

    /* Botão próximo - à direita */
    .custom-carousel-control-next {
        right: 40px;
    }


}

@media (max-width: 705px) {

    .c-atena__content {
        height: 1500px;
        justify-content: space-around;
    }

    .c-atena__texto p {
        width: 345px;
        height: 100%;
    }

    .c-atena__texto {
        height: 100%;
    }

    .w__820 {
        height: 750px;
    }

    .accordion_area {
        width: 345px;
    }

    .acc_container {
        height: 412px;
    }

    .c-formulario__form {
        width: 650px;
    }
    .c-formulario label {
        font-size: 14px;
        line-height: 16px;
    }

    .c-formulario__content {
        height: 860px;
    }


}

@media (max-width: 650px) {
    
    .c-navbar__menu {
        height: 60px;
    }

    .c-navbar__list {
        display: none;
    }

    .c-navbar__logo img {
        width: 118px;
        height: 40px;
    }


    .c-destaque__titulo h1 {
        font-size: 48px;
        line-height: 60px;
    }

    /* Imagem do carousel */
    .img {
        position: relative;
    }

    .img img {
        display: block;
        width: 100%;
        height: 752px;
    }

    .c-destaque__dots {
        display: flex;
        flex-direction: row;
        top: 30%;
        left: 12px;
    }

    .c-destaque__seta {
        top: 57rem;
    }

    .c-atena__titulo h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .w__820 {
        height: 860px;
        justify-content: flex-start;
    }

    .acc_container {
        height: 447px;
    }

    .c-fancybox {
        height: 403px;
    }

    .carousel-item img {
        max-width: 345px;
        height: 194px;
    }

    .carousel p {
        width: 345px;
    }

    .custom-carousel-control-prev,
    .custom-carousel-control-next {
        top: 30%;
    }

    .custom-carousel-control-prev {
        left: 20px;
    }

    /* Botão próximo - à direita */
    .custom-carousel-control-next {
        right: 20px;
    }

    .c-formulario__form {
        width: 345px;
    }



    .c-footer__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 401px;
    }

    .c-footer__list {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

}

@media (max-width: 375px) {

    .c-navbar__menu {
        height: 60px;
    }

    .c-navbar__list {
        display: none;
    }

    .c-navbar__logo img {
        width: 118px;
        height: 40px;
    }


    .c-destaque__titulo h1 {
        font-size: 48px;
        line-height: 60px;
    }

    /* Imagem do carousel */
    .img {
        position: relative;
    }

    .img img {
        display: block;
        width: 100%;
        height: 752px;
    }

    .c-destaque__dots {
        display: flex;
        flex-direction: row;
        top: 30%;
        left: 12px;
    }

    .c-destaque__seta {
        top: 57rem;
    }

    .c-atena__titulo h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .w__820 {
        height: 860px;
        justify-content: flex-start;
    }

    .acc_container {
        height: 447px;
    }

    .c-fancybox {
        height: 403px;
    }

    .carousel-item img {
        max-width: 345px;
        height: 194px;
    }

    .carousel p {
        width: 345px;
    }

    .custom-carousel-control-prev,
    .custom-carousel-control-next {
        top: 30%;
    }

    .custom-carousel-control-prev {
        left: 20px;
    }

    /* Botão próximo - à direita */
    .custom-carousel-control-next {
        right: 20px;
    }

    .c-formulario__form {
        width: 345px;
    }



    .c-footer__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 401px;
    }

    .c-footer__list {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}